name: "Build"
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: windows-latest
    steps:
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.100'
    - uses: actions/checkout@v1
    - run: dotnet build
    - run: dotnet test
    - run: dotnet pack --output ${{ github.workspace }}\nuget
    - uses: actions/upload-artifact@v1
      with:
        name: nuget-packages
        path: ${{ github.workspace }}\nuget